aiohttp>=3.7.4
aiosignal==1.2.0
async-timeout==3.0.1
asynctest==0.13.0
attrs==21.4.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
Deprecated==1.2.13
discord.py==1.7.3
frozenlist==1.2.0
idna==3.3
importlib-metadata==4.10.0
multidict==5.2.0
packaging==21.3
pyparsing==3.0.6
redis==4.1.0
requests==2.27.1
typing_extensions==4.0.1
urllib3>=1.26.7
websockets>=9.1
wrapt==1.13.3
yarl==1.7.2
zipp==3.7.0
